html {
  background-color: #222;
} 


div {
  background-color: #222;
}

.note-wrapper-single
{
  height: 100%;
}

.App {
  height: 100%;
  
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.notes-wrapper{

  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  height: 100%;
  text-align:center;
}

.list-notes-top{
  height: 100%;
  width: 30%;
  padding: 0;
  overflow-y: auto;
  overflow-x: hidden;

}

.current-note{

  height: 100%;
  width: 100%;

}

.list-item-top{
  text-align: left;
  overflow: hidden;
  white-space: nowrap;
}

.list-item{
  list-style-type: none;
  text-align: left;
  height: 20px;
  display: inline-flex;
  flex-wrap:auto;
  width: 100%;
  overflow: hidden;
}

.list-sub-item-top{
  text-align: left;
  overflow: hidden;
  white-space: nowrap;
}

.list-sub-item{
  list-style-type: none;
  text-align: left;
  height: 15px;
  display: inline-flex;
  flex-wrap:auto;
  width: 100%;
  overflow: hidden;
}

.add-note, .add-sub-note, .delete-sub-note, .delete-note{
  -webkit-transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
  transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
  box-sizing: border-box;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: transparent;
  border-radius: 0.6em;
  cursor: pointer;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: inline;
  -webkit-align-self: center;
      -ms-flex-item-align: center;
          align-self: center;
  font-size: .8rem;
  font-weight: 400;
  line-height: 1;
  margin: 10px;
  padding: 0.5em 0.5em;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}

.delete-note {
  border: 2px solid #e74c3c;
  color: #e74c3c;
  font-size: 0.6rem;
}
.delete-note:hover, .delete-sub-note:hover{
  box-shadow: 0 0 40px 40px #e74c3c inset;
  color: #ffffff;
}
.delete-sub-note {
  border: 2px solid #e74c3c;
  color: #e74c3c;
  font-size: 0.6rem;
  padding: 0.5em 0.60em;
}
.add-note:hover, .add-sub-note:hover{ 
  box-shadow: 0 0 40px 40px rgb(52, 82, 255) inset;
  color:rgb(255, 255, 255)
}
.add-note{
  margin: 10px 20px 10px;
  border: 2px solid rgb(52, 82, 255);
  color: rgb(65, 93, 255);
}
.add-sub-note{
  padding: 0.35em 0.50em;
  border: 2px solid rgb(52, 82, 255);
  color: rgb(65, 93, 255);
}

input[type='text']{
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  font-weight: bold;
  background-color: #ebebeb;
  height: 40px;
  width: 95%;
  border: none;
  resize: none;
  color: rgb(0, 0, 0);
  font-size: 24px;

}

textarea{
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  background-color: #ebebeb;
  height: 600px;
  width: 95%;
  border: none;
  resize: none;
  color: rgb(0, 0, 0);
  scroll-behavior: auto;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
.pro-sidebar {
  height: 100vh;
}
.closemenu {
  color: #000;
  position: absolute;
  right: 0;
  z-index: 9999;
  line-height: 20px;
  border-radius: 50%;
  font-weight: bold;
  font-size: 22px;
  top: 55px;
  cursor: pointer;
}
.pro-sidebar {
  width: 100%;
  min-width: 100%;
}
.pro-sidebar.collapsed {
  width: 80px;
  min-width: 80px;
}
.pro-sidebar-inner {
  background-color: white;
  box-shadow: 0.5px 0.866px 2px 0px rgba(0, 0, 0, 0.15);
}
.pro-sidebar-inner .pro-sidebar-layout {
  overflow-y: hidden;
}
.pro-sidebar-inner .pro-sidebar-layout .logotext p {
  font-size: 20px;
  padding: 0 10px;
  color: #000;
  font-weight: bold;
}
.pro-sidebar-inner .pro-sidebar-layout ul {
  padding: 0 0px;
}
.pro-sidebar-inner .pro-sidebar-layout ul .pro-inner-item {
  color: rgb(255, 255, 255);
  margin: 0px 0px;
  font-weight: bold;
}

.pro-sidebar-inner .pro-sidebar-layout ul .pro-inner-item .pro-icon-wrapper {
  background-color: #fbf4cd;
  color: #000;
  border-radius: 2px;
}
.pro-sidebar-inner .pro-sidebar-layout ul .pro-inner-item .pro-icon-wrapper .pro-item-content {
  color: #000;
}
.pro-sidebar-inner .pro-sidebar-layout .active {
  background-image: linear-gradient(0deg, #ff0000 0%, #75000a 100%);
}
.logo {
  padding: 20px;
}

@media only screen and (max-width: 720px) {
  html {
    overflow: hidden;
  }
}

